LIFESIGN_TIMEOUT = 60 * 11 # expect devices to ping the server at intervals less than 11 minutes
MAX_COOKIE_AGE = 60 * 60 * 24 *30
RESET_DEVS_AT = 3   # Reset devices at 3 AM so they re-connect to WiFi to renew the IP address lease

DB_NAME = "database.db"

MQTT_BROKER = "localhost"           # or your broker IP
MQTT_PORT = 1883                    # default MQTT port. I use 50000 because my hosting provider does not allow outbound to 1883
MQTT_TOPIC = "my/devices/unlock"        # your chosen topic
MQTT_USER = "your_mqtt_username"
MQTT_PASS = "your_mqtt_password"

