<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title>{{ title or "WiFi Relay Control" }}</title>

  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/solid.min.css') }}">

</head>
<body>
  <div class="page-wrapper">
    <div class="container">
      {% block content %}{% endblock %}
    </div>

    <footer class="footer">
      <a href="https://github.com/ujagaga/wifi_relay_control" target="_blank">Documentation</a>
    </footer>
  </div>

  <script src="{{ url_for('static', filename='js/common.js') }}"></script>
</body>
</html>
