{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

  <div class="user_picture_wrapper">
    <img src="{{ user.picture }}" alt="User Picture" class="user_picture">
  </div>

  {% if admin %}
  <nav class="admin_nav">
    <a href="{{ url_for('manage_devices') }}" class="nav_btn" title="Manage Devices"><i class="fa-solid fa-dungeon"></i></a>
    <a href="{{ url_for('manage_users') }}" class="nav_btn manage_users_btn" title="Manage Users">
      <i class="fa-solid fa-user-tie"></i>
      {% if unauthorized_users|length > 0 %}
      <span class="red_dot"></span>
      {% endif %}
    </a>
  </nav>
  <br>
  {% endif %}

  {% if connected_devices %}
    {% for device in connected_devices %}
      <h1>{{ device["label"] }}</h1>
      <div class="row {% if device['sw_count'] == 1 %}single{% endif %}" data-device-name="{{ device['name'] }}">
        <a class="big_btn" data-id="0"><i class="fa-solid fa-lock-open"></i></a>
        {% if device["sw_count"] > 1 %}
          <a class="big_btn" data-id="1"><i class="fa-solid fa-lock"></i></a>
        {% endif %}
        {% if device["sw_count"] > 2 %}
          <a class="big_btn" data-id="2"><i class="fa-solid fa-unlock"></i></a>
        {% endif %}
        {% if device["sw_count"] > 3 %}
          <a class="big_btn" data-id="3"><i class="fa-solid fa-hand"></i></a>
        {% endif %}
      </div>
      <div class="progress-bar-container"></div>
    {% endfor %}
  {% else %}
    <p>There are no devices connected.</p>
  {% endif %}

<script src="{{ url_for('static', filename='js/home.js') }}"></script>

{% endblock %}

