{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css') }}">

<div class="signin_box">
    <a href="/authorize" class="login_btn">
        <p>Lo<i class="fab fa-google"></i>in</p>
    </a>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <p class="red_notification">{{ messages[0] }}</p>
        {% else %}
            <p>&nbsp;</p>
        {% endif %}
    {% endwith %}
</div>
{% endblock %}
